<div class="row">
  <div class="col-md-12">
    <h3>Link Details</h3>
    <hr>
  </div>
  <div class="col-md-6">
    <p>
      <strong>Original Url:</strong>
      <%= @link.original_url %>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <strong>Short Url:</strong>
      <%= link_to @short_url, "/#{@link.short_url}" %>
    </p>
  </div>
  <hr>
  <div class="col-md-12">
    <p>
      <strong>Total Clicks:</strong>
      <%= @link.clicked %> <%= @link.clicked > 1 ? 'times' : 'time' %>
    </p>
  </div>
</div>
<%= link_to 'Back', links_path, class: 'btn btn-info btn-sm' %>
