<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortnerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice.present? %>
        <p id="notice" class="alert alert-primary mt-4"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
